.primary {
  color: #FE938C;
}

.primary-200 {
  color: #FD685D;
}

.primary-300 {
  color: #FD685D;
}

.secondary {
  color: #494331;
}

.tertiary {
  color: #D6D6B1;
}

.gray-100 {
  color: #F1F1E4;
}

.gray-200 {
  color: #878472;
}

.gray-300 {
  color: #3F3F37;
}

.gray-400 {
  color: #161613;
}
