@import 'colors.css';
@import 'layout.css';
@import 'typography.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #161613;
  font-family: 'Cardo', serif;
  background-color: #FFF;
}

/* Author Card */
.author-card {
  display: flex;
  margin: 1em 0;
}

@media screen and (min-width: 475px) {
  .author-card {
    margin: 1em;
  }
}

@media screen and (min-width: 768px) {
  .author-card {
    margin: 1.75em 2.5em;
  }
}

.author-info {
  display: block;
  margin-left: 1em;
}

.author-info h3 {
  margin-bottom: 0;
}

.author-info h4 {
  margin-top: 0;
}
/* /Author Card */

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-lg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* /Avatar */

/* Button */
.btn,
a.btn,
a.btn:visited {
  display: inline-block;
  min-width: 100px;
  padding: 0.5em 0.75em;
  color: #FFF;
  font: 600 1rem 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #FD4235;
  border: 2px solid transparent;
  border-radius: 3px;
}

.btn:hover,
a.btn:hover,
.btn:focus {
  text-decoration: none;
  background-color: #FD685D;
}

.btn:active,
a.btn:active {
  text-decoration: none;
  background-color: #FE938C;
}

.btn-inverse,
a.btn-inverse,
a.btn-inverse:visited {
  color: #FD4235;
  font: 600 1rem 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #FFF;
  border: 2px solid #FD4235;
  border-radius: 3px;
}

.btn-inverse:hover,
a.btn-inverse:hover,
.btn-inverse:focus {
  color: #FD685D;
  border-color: #FD685D;
  background-color: #FFF;
}

.btn-inverse:active,
a.btn-inverse:active {
  color: #FE938C;
  border-color: #FE938C;
  background-color: #FFF;
}

/* /Button */

/* Card */
.card {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(241, 241, 228, 0.5);
  border: 1px solid #D6D6B1;
  border-radius: 3px;
}

.image-wrapper {
  max-height: 175px;
  overflow: hidden;
  background-color: #FE938C;
}

.image-wrapper img {
  max-width: 100%;
  min-height: 175px;
}

.info-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 0.75em 0.75em;
}

.card .inline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  color: #3F3F37;
  font-weight: 700;
  margin: 0;
}
/* /Card */

/* Footer */
.footer-container {
  display: grid;
  grid-template-rows: 175px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 12px 24px;
  background: linear-gradient(#FE938C, #FD685D);
}

.footer a {
  color: #494331;
  text-decoration: none;
}

.footer a:hover {
  color: #D6D6B1;
  text-decoration: none;
}

.social-links {
  margin-bottom: 12px;
}

.social-links .fa-lg {
  padding: 6px;
}
/* /Footer */

/* Masthead */
.masthead .social-widget {
  margin-top: 24px;
}

@media screen and (min-width: 475px) {
  .masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .masthead .social-widget {
    margin-top: 0;
  }
}

.post-info {
  display: flex;
  align-items: center;
}

.info-text {
  margin-left: 16px;
}

.info-text p {
  margin: 0;
}
/* /Masthead */

/* Navbar */
.navbar-container {
  display: grid;
  grid-template-rows: 55px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #F1F1E4;
  border-bottom: 1px solid #E3E3CA;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 24px;
  }
}

a.logo {
  color: #FD4235;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
/* /Navbar */

/* Social Sharing Widget */
.social-widget .fa-lg {
  padding: 6px;
}
/* /Social Sharing Widget */
