@import 'colors.css';
@import 'layout.css';
@import 'typography.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #161613;
  font-family: 'Cardo', serif;
  background-color: #FFF;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #F1F1E4;
  border-bottom: 1px solid #E3E3CA;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 24px;
  }
}

a.logo {
  color: #FE938C;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
/* /Navbar */

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 12px 24px;
  background-color: #FE938C;
}

.footer a:hover {
  color: #D6D6B1;
  text-decoration: none;
}

.social-links {
  margin-bottom: 12px;
}

.social-links .fa-lg {
  padding: 6px;
}
/* /Footer */

/* Card */
.card {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(241, 241, 228, 0.5);
  border: 1px solid #D6D6B1;
  border-radius: 3px;
}

.image-wrapper {
  max-height: 175px;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
  min-height: 175px;
}

.info-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 12px 12px;
}

.card .inline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  color: #878472;
  font-weight: 700;
  margin: 0;
}
/* /Card */

/* Button */
.btn,
a.btn,
a.btn:visited {
  display: inline-block;
  min-width: 100px;
  padding: 8px;
  color: #F1F1E4;
  font-family: 'Cardo', serif;
  font-weight: 600;
  text-align: center;
  background-color: #FE938C;
  border-radius: 3px;
}

.btn:hover,
a.btn:hover,
.btn:focus {
  text-decoration: none;
  background-color: #FD685D;
}

.btn:active,
a.btn:active {
  text-decoration: none;
  background-color: #FD4235;
}
/* /Button */

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* /Avatar */
