html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #161613;
  font-family: 'Cardo', serif;
  background-color: #FFF;
}

/* Layout */

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 55px 1fr 175px;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .content-container {
    max-width: 768px;
    padding: 24px;
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    max-width: 1200px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(298px, 100%), 1fr));
  gap: 1.5rem;
}

/* Typography */

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-family: 'Cardo', serif;
}

a,
a:visited {
  font-size: 1rem;
  font-family: 'Cardo', serif;
  color: #494331;
  text-decoration: none;
}

a:hover {
  color: #FE938C;
  text-decoration: underline;
}

/* Colors */

.primary {
  color: #FE938C;
}

.primary-200 {
  color: #FD685D;
}

.primary-300 {
  color: #FD685D;
}

.secondary {
  color: #494331;
}

.tertiary {
  color: #D6D6B1;
}

.gray-100 {
  color: #F1F1E4;
}

.gray-200 {
  color: #878472;
}

.gray-300 {
  color: #3F3F37;
}

.gray-400 {
  color: #161613;
}

/* Components */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #F1F1E4;
  border-bottom: 1px solid #E3E3CA;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 24px;
  }
}

a.logo {
  color: #FE938C;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 12px 24px;
  background-color: #FE938C;
}

.footer a:hover {
  color: #D6D6B1;
  text-decoration: none;
}

.social-links {
  margin-bottom: 12px;
}

.social-links .fa-lg {
  padding: 6px;
}

.card {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(241, 241, 228, 0.5);
  border: 1px solid #D6D6B1;
  border-radius: 3px;
}

.image-wrapper {
  max-height: 175px;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
  min-height: 175px;
}

.info-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 12px 12px;
}

.card .inline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h3 {
  color: #3F3F37;
}

.card p {
  color: #878472;
  font-weight: 600;
  margin: 0;
}

.btn,
a.btn,
a.btn:visited {
  display: inline-block;
  min-width: 100px;
  padding: 8px;
  color: #F1F1E4;
  font-family: 'Cardo', serif;
  font-weight: 600;
  text-align: center;
  background-color: #FE938C;
  border-radius: 3px;
}

.btn:hover,
a.btn:hover,
.btn:focus {
  text-decoration: none;
  background-color: #FD685D;
}

.btn:active,
a.btn:active {
  text-decoration: none;
  background-color: #FD4235;
}
