h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.441rem;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  color: #494331;
  font-size: 1.953rem;
  line-height: 1.1;
  font-style: italic;
}

h3 {
  color: #3F3F37;
  font-size: 1.563rem;
  line-height: 1.1;
}

h4 {
  font-family: 'Cardo', serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  font-family: 'Cardo', serif;
}

a,
a:visited {
  font-size: 1rem;
  font-family: 'Cardo', serif;
  color: #FE938C;
  text-decoration: none;
}

a:hover {
  color: #FD685D;
  text-decoration: underline;
}

blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.25em;
  font-size: 1.25rem;
  font-style: italic;
  border-left: 6px solid #D6D6B1;
}

figcaption {
  color: #3F3F37;
  font-size: .95rem;
  font-style: italic;
  text-align: center;
}
