h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.441rem;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  color: #494331;
  font-size: 1.953rem;
  line-height: 1.1;
  font-style: italic;
}

h3 {
  color: #3F3F37;
  font-size: 1.563rem;
  line-height: 1.1;
}

h4 {
  font: 700 1.25rem/1.1 'Cardo', serif;
}

p {
  color: #161613;
  font: 1rem 'Cardo', serif;
}

a,
a:visited {
  font: 700 1rem 'Josefin Sans', sans-serif;
  color: #FD4235;
  text-decoration: none;
}

a:hover {
  color: #FD685D;
  text-decoration: underline;
}

blockquote {
  margin: 1.5em 2em;
  padding-left: 1.25em;
  font-size: 1.25rem;
  font-style: italic;
  border-left: 0.4rem solid #D6D6B1;
}

figcaption {
  color: #3F3F37;
  font-size: .95rem;
  font-style: italic;
  text-align: center;
}
